body{
    font-family: 'Montserrat', sans-serif !important;
}
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('/images/preloader.gif') no-repeat 50% 50%;
    margin: -32px 0 0 -32px;
}
.bg-white{
    background-color: #fff;
}
.row {
    background-color: #fff;
}
a:hover{
    text-decoration: none
}
.view-container{
    /*margin-top:20px;*/
}
.cart-order{
    margin:0 auto;
}
.cart-order input{
    text-align:right;
}

.book-list .thumbnail .caption{
    position:relative;
    z-index:40;
}



.book-list figure {
    position: relative;
}
.book-list .thumbnail img{
    width:100%;
    margin: 0 auto;
}
.book-list figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.book-list:hover figure::before {
    -webkit-animation: shine .9s;
    animation: shine .9s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

.dropdown-menu td{
    font-size: 12px;
}
.rating{
    display: inline-block;
    margin: 0;
    padding: 0;
}
.rating li{
    color: #ddd;
    display: inline-block;
    list-style-type: none;
    padding: 1px;
    text-shadow: .05em .05em #aaa;
}
.rating li.filled{
    color: #d17581;
}
.itemButton{
    margin-top: 20px;
    text-align: center;
}
.blosd button{
    cursor: default;
}
.rating li i{
    font-family: 'Glyphicons Halflings';
}
.rating li i:before{
    content: "\e006";
}
.rating.readonly li.filled{
    color: #666;
}
.star-rating{
    display: inline-block;
    margin: 0;
    padding: 0;
}
.star-rating .star{
    color: #ddd;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    list-style-type: none;
    padding: 1px;
    text-shadow: .05em .05em #aaa;
}
.star-rating .star.filled{
    color: #d17581;
}
.star-rating.readonly .star.filled{
    color: #666;
}
.average-rating-container{
    height: 16px;
    overflow: hidden;
    position: relative;
    width: 80px;
}
.average-rating-container .background,
.average-rating-container .foreground{
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    white-space: nowrap;
}
.newRaiting li i{
    color: #333;
    cursor: default;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 1px;
    webkit-font-smoothing: antialiased;
}
.newRaiting .star-rating li.star{
    cursor: default;
}
.newRaiting li i:before{
    content: "\e007";
}
.newRaiting li.filled i:before{
    content: "\e006";
}
.average{
    float: left;
}
.stars-reviews-raiting{
    margin-left: 85px;
}
.last-ItemReviews hr{
    display: none;
}
.thumbnail{
    overflow: hidden;
}
.header{
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}
.reviews-forms{
    display: none;
}
.bigicon{
    font-size: 34px;
}
.delete-cart{
    background: url(/images/trash_16x16.gif) no-repeat 0 0;
    display: block;
    height: 16px;
    width: 16px;
}
.delete-cart:hover{
    cursor: pointer;
}
.books .book-list{
    /*display: inline-block;*/
    float: none;
    vertical-align: top;
}
.well{
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    border: none;
}
.open>.dropdown-menu{
    min-width: 100%;
    z-index: 1001;
}
.open>.dropdown-menu > div,.open>.dropdown-menu{
    background-color: #f9f9f9;
    margin: 1px;
}
.open>.dropdown-menu .emty-cart{
    text-align: center;
}
.open>.dropdown-menu .item-row div{
    text-align: center;
}
.table-list{
    text-align: center;
    width: 100%;
}
.table-list td span{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.table-list tr{
    background-color: #f9f9f9;
    border-bottom:1px solid gray;
}
.table-list tr td{
    padding: 8px;
}
.item-checout .first-column-checkout{
    width: 12%;
}
.item-checout td{
    border-bottom: 1px solid #ddd;
    border-top: none !important;
    text-align: center;
    vertical-align: middle !important;
}
.table-bordered{
    border-collapse: separate;
    border-radius: 4px;
}
.total-user-checkout{
    margin: 15px;
}
.btn-user-checkout{
    margin-bottom: 40px;
}
.btn-user-checkout .btn{
    margin-bottom: 10px;
    outline: none;
    /*width: 100%;*/
}
.item-checout .delete-cart{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.total{
    margin: 5px 5px 5px 0;
}
.check-b{
    margin: 0 5px 5px 0;
}
.modal-cart td{
    border-bottom: 1px solid #ddd !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}
.modal .table-bordered{
    border-bottom: none !important;
}
.bt-change-cart span.glyphicon{
    cursor: pointer;
}
.x-change{
    margin-right: 5px;
}
.modal-cart-total{
    line-height: 34px;
    margin-right: 15px;
}
.bt-shop{
    text-align: center;
}
.top-m{
    margin-top: 15px;
}
.dropdown .btn-inverse{
    background:#2d313b;
    border:1px solid #2d313b;
    border-radius: 0;
}
.dropdown .btn-inverse:hover{
    /*background:rgb(45, 49, 59,.9);*/
    border-radius: 0;
}/*
.btn-inverse{
    background-color: #363636;
    background-image: linear-gradient(to bottom,#444,#222);
    background-image: -moz-linear-gradient(top,#444,#222);
    background-image: -o-linear-gradient(top,#444,#222);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
    background-image: -webkit-linear-gradient(top,#444,#222);
    background-repeat: repeat-x;
    border-color: #222 #222 #000;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-radius: 0;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444',endColorstr='#ff222222',GradientType=0);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}*/
nav.navbar-inverse{
    -webkit-box-shadow: 0px -3px 0px rgba(50, 50, 50, 0.2) inset;
    box-shadow: 0px -3px 0px rgba(50, 50, 50, 0.2) inset;
    background-color: #50a8e1;
    border-color: #50a8e1;
}
nav.navbar-inverse a.navbar-brand,nav.navbar-inverse .navbar-nav>li>a{
    color:#fff;
}
nav.navbar-inverse .navbar-nav>li>a:hover,nav.navbar-inverse .navbar-nav>li>a.Active{
    background:#fff;
    -webkit-box-shadow: 0px -3px 0px rgba(50, 50, 50, 0.2) inset;
    box-shadow: 0px -3px 0px rgba(50, 50, 50, 0.2) inset;
    color: #50a8e1;
}


#dLabel{
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 18px;
}
.open #dLabel:hover{
    color: #444;
}
.open #dLabel{
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #E6E6E6;
    box-shadow: none;
    color: #666;
    text-shadow: none;
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}
.column{
    border-bottom:1px dashed #E5E5E5;
    clear:both;
    overflow: hidden;
}
.t-details{
    font-size: 1em;
    line-height: 20px;
    width: 100%;
    color: #CCC;
    border-bottom:1px dashed #E5E5E5;
    clear:both;
    overflow: hidden;
}
.column .ab-details-title{
    float:left;
    font-size: 1.5em;
    line-height: 50px;
    color: #666;
}
.ab-details-info{
    float: left;
    line-height: 55px;
    margin-left: 10px;
    font-size:12px;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

/*!
 * Start Bootstrap - Shop Homepage HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

p{
    font-size: 14px;
}
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    overflow: hidden;
    min-height:165px;
    padding: 0 20px 20px;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    /* width: 100%;*/
    display:inline-block !important;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
footer {
    margin: 50px 0;
}


@media only screen and (max-width : 1200px){
}
@media only screen and (max-width : 992px){
}
@media only screen and (max-width : 768px){
}
@media only screen and (max-width : 480px){
}
@media only screen and (max-width : 320px){
}


/*  ng-view Animation  */


.view-slide-in.ng-enter{
    left: 0;
    moz-transition: all 1s ease;
    opacity: 0.5;
    opacity: 0;
    o-transition: all 1s ease;
    position: relative;
    top: 25px;
    transition: all 1s ease;
    webkit-transition: all 1s ease;
}
.view-slide-in.ng-enter{
    opacity: 0;
}
.view-slide-in.ng-enter.ng-enter-active{
    left: 0;
    opacity: 1;
    top: 0;
}
.view-slide-in.ng-leave.ng-leave-active{
    left: 0;
    opacity: 1;
    top: 25px;
}
.view-slide-in.ng-leave{
    left: 0;
    opacity: 0;
    top: 0;
}
.book-list.class1.ng-enter,
.book-list.class1.ng-leave,
.book-list.class1.ng-move{
    transition: 1s linear all;
    webkit-transition: 1s linear all;
}
.book-list.class1.ng-enter-stagger,
.book-list.class1.ng-leave-stagger,
.book-list.class1.ng-move-stagger{
    transition-delay: 10ms;
    transition-duration: 0;
    webkit-transition-delay: 10ms;
    webkit-transition-duration: 0;
}
.book-list.class1.ng-enter,
.book-list.class1.ng-move{
    opacity: 0;
}
.book-list.class1.ng-enter.ng-enter-active,
.book-list.class1.ng-move.ng-move-active{
    opacity: 1;
}
.book-list.class1.ng-leave{
    opacity: 1;
}
.book-list.class1.ng-leave.ng-leave-active{
    opacity: 0;
}

.book-list.ng-enter {
    -webkit-transition: .5s linear all; /* Safari/Chrome */
    -moz-transition: .5s linear all; /* Firefox */
    -o-transition: .5s linear all; /* Opera */
    transition: .5s linear all; /* IE10+ and Future Browsers */

    /* The animation preparation code */
    opacity:0;
    -moz-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}

.book-list.ng-enter.ng-enter-active {
    /* The animation code itself */
    opacity:1;
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.form-error {
    color: red;
}

.eWkWwl {
    background-color: darkred !important;
}

.quantity {
    width:0px;
    padding:0 20px 0 50px;
}

.input-number{
    width: 77px !important;
    text-align: center!important;
    font-weight: bold!important;
    font-size: 25px!important;
    height: 40px!important;
    border:none!important;
    border-bottom: solid 2px #ccc!important;
    box-shadow: none!important;
    position:relative;
}
.input-container{
    position: relative;
    height: 40px;
    display: block;
    margin: 0 15px;
}
.input-container:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 10px;
    background-color: #ccc!important;
    z-index:10;
}
.input-container:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2px;
    height: 10px;
    background-color: #ccc!important;
    z-index:10;
}
.btn-number{
    border-radius: 50%!important;
    background-color: #ccc!important;
    color: #fff!important;
    outline: none!important;
    font-size: 25px!important;
    padding: 3px!important;
    width: 40px;
    height: 40px;
}
/*New style*/
header {
    background-color: #FFFFFF;
}

header .navbar-nav li a {
    color: #000;
}

header .navbar-nav li a:hover {
    color: #f62f5e;
}

header .navbar-nav li a:active {
    color: #f62f5e;
}

header.bg-dark .navbar-nav li a{
    color: #fff;
    font-size: 16px;
}

header.bg-dark .navbar-nav li a:hover {
    color: #f62f5e;
    background: none !important;
}

header.bg-dark .navbar-nav li a:active {
    color: #f62f5e;
}
.navbar-brand{
    color: #f62f5e;
}
.navbar-brand:hover{
    color: #f62f5e;
}
.navbar {
    padding: .5rem 0rem !important;
    margin-bottom: 0;
    border: none;
}

header+header {
    border-top: solid 0.0625rem #EEE;
}
.bg-dark {
    background-color: #2d313c;
    color: #fff; 
    margin-bottom: 20px;
}
.side {
    margin-left: -15px;
    margin-right: -15px;
}
.navbar-toggle{
    background: transparent;
    border: 1px solid #f62f5e;
}
.navbar-toggle .icon-bar{
    background-color: #f62f5e;
}
.top{
    height: 45px;
    background-color: #fff;
}
.topbar{
    /*width: 100%;*/
    padding: 8px 19px 0 3px;
}
.hello{
    float: left;
}
.hello li a{
    font-size: 15px;
    color: #0a2c4e;
}
.hello li a:hover{
    text-decoration: none;
    color: #ab1720;
}
.hello-right{
    float: right;
}
.hello-right .top-right{
    list-style: none;
    display: inline-flex;
}
.hello-right .top-right li a{
    font-size: 14px;
    margin: 0 10px;
    display: inline-block;
    color: #0a2c4e;
}
.hello-right .top-right li a:hover{
    color: #ab1720;
    text-decoration: none;
}
.book-full{
    margin-bottom: 30px;
    background-color: #fff;
}
.book-full:hover{
    -webkit-box-shadow: -5px 5px 10px 5px rgba(219,219,219,0.75);
    -moz-box-shadow: -5px 5px 10px 5px rgba(219,219,219,0.75);
    box-shadow: -5px 5px 10px 5px rgba(219,219,219,0.75);
}
.image-box {
    overflow: hidden;
    padding: 20px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.image-box img {
    margin: 0 auto;
    float: none;
    display: block;
    width: 100%;
}
.categoryNav {
    /*padding: 0 10px;*/
}

.loader {
    color: #2BAD60;
    height: 100;
    width: 100
}
.side .lead {
    color: #555;
    font-weight: 400;
}
.side h4 {
    color: #b4b4b4;
    font-weight: 700;
}
.badge {
    background: #efefef;
    color: #6c6c6c;
    margin: 0 5px 5px 0;
    padding: 10px 15px;
    font-size: 14px;
}
a.badge:focus, a.badge:hover {
    background-color: #f62f5e;
    color: #fff;
}
.badge-red {
    background-color: #f62f5e !important;
    color: #fff;
}
.caption a{
    color: #f62f5e;
}
.caption a:hover{
    color: #c41b22;
}
.caption h5{
    color: #f62f5e;
}
#sidebar .form-control{
    position: relative;
    z-index: 2;
    background-color: #eee;
    border: 1px solid #eee;
    float: left;
    width: 100%;
    margin-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 1;
}

#sidebar .input-group {
  width: 100%;
}

#sidebar .input-group-btn {
  vertical-align: top;
}

#sidebar .inside {
  margin-left: 0 !important;
  height: 33px;
  background-color: #eee;
  border: 1px solid #eee;
}
#sidebar .btn-left.inside {
  margin-left: -108px !important;
  z-index: 999;
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover{
    color: #fff;
    font-weight: 700;
    background-color: #f62f5e;
    border: 1px solid #f62f5e;
    outline: none;
}
.list-group-item{
    color: #6c6c6c;
    border: 1px solid #eee;
    background-color: #efefef;
    padding: 10px 15px;
}
.tab-content {
    padding: 20px;
    background-color: #fff;
}
.nav-tabs{
    border-bottom: 1px solid #ddd;
}
.nav-tabs>li>a{
    color: #6c6c6c;
}
.nav>li>a:focus, .nav>li>a:hover{
    outline: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: none;
    color: #6c6c6c;
    background-color: #eee;
    outline: none;
}
.panel-title{
    color: #6c6c6c;
}
.panel-body{
    color: #6c6c6c;
}
table {
  width: 100%;
  max-width: 100%;
}
table > tbody > tr{
    width: 100%;
}
table > tbody > tr > td{
  padding: 15px;
  line-height: 1.5;
  vertical-align: top;
  border-bottom: 1px solid #ebebeb;
}
table > tbody > tr > td:first-child{
    width: 20%;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #efefef !important;
}
.table-striped{
    border: 1px solid #eee;
}
.move-left{
    margin-left: -15px;
}
.product-sidebar h1{
    font-size: 34px;
}
.product-sidebar h2{
    font-size: 25px;
}
.form-control{
    width: 40%;
}
.img-thumbnail{
    background-color: none;
    border: none;
    padding: 0;
    border-radius: 0;
}
.margin-top-20{
    margin-top: 20px;
}
.btn-user-checkout .btn-default.left-btn{
    position: absolute;
}
.btn-user-checkout .middle-btn{
    display: block;
    /*margin: 0 auto;*/
}
.btn-user-checkout .right-btn{
    /*margin-top: -30px;*/
}
.btn-default {
    color: #fff;
    background-color: #f62f5e;
    border-color: #f62f5e;
    border-radius: 50px;
    /*padding: 0 15px;*/
    height: 40px;
    outline: none!important;
    text-transform: uppercase;
}
.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default:active:focus{
    color: #f62f5e;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}
.btn-number,
.btn-number:hover,
.btn-number:active,
.btn-number:focus,
.btn-number:active:focus{
    border: none;
}
.btn-number:first-child{
    margin-right: 1px;
}
.btn-user-checkout .btn-inverse {
    color: #f62f5e;
    background-color: #fff;
    border-color: #fff;
    border-radius: 50px;
    padding: 0 15px;
    outline: none!important;
}
.btn-user-checkout .btn-inverse:hover,
.btn-user-checkout .btn-inverse:active,
.btn-user-checkout .btn-inverse:focus,
.btn-user-checkout .btn-inverse:active:focus{
    color: #fff;
    background-color: #f62f5e;
    border-color: #f62f5e;
    box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}
.btn-inverse.product {
    color: #f62f5e;
    background-color: #fff;
    border-color: #fff;
    border-radius: 50px;
    padding: 0 15px;
    outline: none!important;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.btn-inverse.product:hover,
.btn-inverse.product:active,
.btn-inverse.product:focus,
.btn-inverse.product:active:focus{
    color: #fff;
    background-color: #f62f5e;
    border-color: #f62f5e;
    box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}
.table-basket thead{
    border-bottom: 1px solid #eee;
}
.table-basket th{
    text-align: center;
}
.panel-default{
    box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
    border: none;
}
@media only screen and (max-width: 768px){
    .top{
        height: 65px;
    }
    .hello {
        float: none;
        display: block;
        text-align: center;
    }
    .hello-right {
        float: none;
        display: block;
        text-align: center;
    }
    .checkout-tab{
        padding: 10px;
    }
    .text-center-sm{
        text-align: center;
    }
    .btn-user-checkout .btn-inverse {
        margin-top: 60px;
    }
    .btn-user-checkout .right-btn{
        margin-top: -30px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
    .btn-user-checkout .btn-inverse {
        /*margin-top: 60px;*/
        width: 30%;
        margin-left: 230px;
        margin-right: 10px;
    }
    .btn-user-checkout .right-btn{
        margin-top: 10px;
        float: left;
        width: 30%;
    }
}




